.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dashboard-content .dashboard-header {
  margin-bottom: 20px;
}

.dashboard-content .dashboard-stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.dashboard-content .stat-box {
  background-color: var(--highlight-color);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  flex: 1;
  margin: 0 10px;
}

.activity-section {
  display: flex;
  justify-content: space-between;
}

.activity-section .recent-activity,
.activity-section .notifications {
  background-color: var(--highlight-color);
  padding: 20px;
  border-radius: 5px;
  flex: 1;
  margin: 0 10px;
}

.activity-section h2 {
  margin-top: 0;
}